@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Space%20Grotesk:400');


.blur {
  filter: blur(5px); /* Aplica el efecto de desenfoque */
  transition: filter 0.5s ease; /* Agrega una transición suave al efecto de desenfoque */
}

:root {
  --m: 1rem;
  
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
  
}
body {
  background-color: #131414;
  color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

button {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  font-family: 'Space Grotesk';
  font-size: var(--m);
  border-radius: calc(0.7 * var(--m));
  padding: calc(0.5 * var(--m)) calc(1 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

button::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: -20%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

button:hover, button:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
}





.Inicio{
  height: 70%;
}

.contenido_real{
  height: 60%;
  justify-content: center;
  color: white;
  position: relative;
  z-index: 1;
}

.contenedor__video{
  padding-top:55px;
  padding-bottom: 3.5%;
  width: 100%;
  height: 75%;
  position: relative;
  overflow: hidden;
}

.video__Fondo{ 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  object-fit: cover;
  filter: blur(0px);
}

.fotografia{
  height: 22%;
  width: 22%;
  border-radius: 50%;
  border-color: #F3F3F3;
  border: 5px solid white;

}

.descripcion-real{
  font-family: "Lexend Deca", sans-serif;
  backdrop-filter: blur(25px);
  padding-top: 5px;
  padding-bottom: 10px;
  width: auto;
}

.individual{
  display: flex;
  justify-content: center;
  align-items: center;  
  padding-bottom: 9px;
  padding-top: 15px;

}
.descripcion-nombre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion{
  text-align: center;
}

.botones-directos{
  display: flex;
  justify-content: center;
  
}

.title__network__item{
  margin: 28px;
}

.descripcion-completa{
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: -10px;
}

.back-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
