@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&display=swap');


.barra__tecnologias{
    font-family: "Lexend Deca", sans-serif;
}


#boton__Repro{
    height: auto;
    width: auto;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.1));
    padding: 0px 0;
    z-index: 10; /* Asegura que el header esté por encima de otros elementos */
}

header{
    display: flex;
    width: 100%;
    backdrop-filter: blur(10px);    height: 15%;
}

header .logo img{
    height: 50px;
    width: auto;
}

.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10%;
}

.nav-links{
    display: flex;
}

nav ul li a {
    color: white; /* Color de texto blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    padding: 10px; /* Espaciado dentro del enlace */
}

nav ul li {
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Espaciado entre elementos de la lista */
}

nav ul {
    list-style-type: none; /* Elimina los estilos predeterminados de la lista */
    margin: 0;
    padding: 0;
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-container{
    font-family: "Lexend Deca", sans-serif;
    width: 86%;
}




#boton-mute {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

#icono-mute {
    display: block;
}
  
#icono-unmute {
    display: none;
}

.icons{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}

.tecnologias{
    padding-top: 1.3vh;
    width: 100%;
    height: 220px;
    background: url('https://i.pinimg.com/originals/b9/01/85/b9018579aebd5c161b0eac79ca04f17a.gif') no-repeat center center;
    display: flex;
    background-size: 100% 150%;
}

.container__tecnologias{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1%;
}

.texto__Descripciontec{
    padding: 2.5em;
}

#cajas__tecnologicas{
    width: 100%;
    height: 2vh;
    position: relative;
}

.card_Container{
    top: 10%;
    font-family: "Lexend Deca", sans-serif;
    width: 45rem;
    height: 13rem;
    border: 5px solid #fafafa10;
    margin: 0 auto;
    border-radius: 1rem;
}

.glass__effect{
    backdrop-filter: blur(0.5rem);
    border-radius: 1rem;
}
