@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jersey+25+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jersey+25+Charted&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.cbtisinfo{
    display: flex;
    flex-direction: row-reverse;
}

.mapsubicacion{
    margin: 6vh 0 6vh 6vh;

}

.secportafolio{
    background-color: rgb(12, 1, 41);
}

.informacioncbtis{
    margin: 20px 0 20px 0;
}

#fonttsize{
    font-size: 40px;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;

}

#fonttsize2{
    font-size: 35px;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

#fonttsize3{
    font-size: 25px;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.descripcion__formacion{    
    margin: 2vh 13vh 2vh 15vh;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    
}

.presentacion__escolar{
    margin: 5vh 0 8vh 15vh;
}

.mapa{
    border-radius: 1rem;
}

/* Experiencia */

.proyectos{
    margin: 10 0 0 0;
    display: block;
}

.informacion{
    font-family: "Ubuntu", sans-serif;
    display: flex;

}

.proyectos{
    background-color: rgb(9, 0, 13);
    width: 100%;

}

.experiencia__one{
    display: flex;
    padding: 5vh 0 5vh 0;
    flex-wrap: wrap;
    align-items: center;

}

.experiencia_two{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 0 0 5vh 0;
    align-items: center;
}

.informacion__buttons{
    margin-left: 0%;
}

.imgexperience{
    padding: 0vh 10vh 0vh 10vh;
    border-radius: 10% ;
    flex-wrap: wrap;
}

.botones{
    gap: 10px;
    height: 40px;
    display: inline-flex;
}